.addemployeebutton {
    background-color: #009688; /* Set the button color */
    color: white; /* Set the text color */
    border: none; /* Remove the border */
    border-radius: 4px; /* Add rounded corners */
    padding: 10px 20px; /* Adjust padding for better appearance */
    font-size: 16px; /* Adjust font size */
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Change cursor to pointer */
}

.addemployeebutton:hover {
    background-color: #00796b;
    color: #e0f7fa;
}

.table-responsive {
    max-height: 400px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Optional: Ensure the table headers stay visible */
.table-responsive thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; /* Match the table header background color */
    z-index: 2;
}
.modal-backdrop.show:nth-child(n + 2) {
    display: none;
}

.modal {
    background: rgba(255, 255, 255, 0);
}

/* Modal animation */
.modal.fade .modal-dialog {
    transform: translate(0, -50px);
    transition: transform 0.3s ease-out;
}

.modal.show .modal-dialog {
    transform: none;
}
